.home-page {
    background-color: white;
    margin-top: 1rem;
    margin-bottom: -2rem;
    padding-bottom: 2rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;  
}



.portrait-pic {
    height: 15rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.home-text {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
  /* row-gap: -5rem; */
}
.home-text h1 {
    font-size: 4rem;
    font-weight: 400;
}

.content {
    margin: 0 auto;
}