ul  {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    color: #454545;
    position: relative;
    font-weight: 400;
    margin: 0;
    background-color: white;
    font-family: 'Work Sans', sans-serif;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.contact-top {
    display: inline-block;

    border: .5px solid #454545;
    width: 6rem;
    align-content: center;
    text-align: center;
    height: 1.8rem;
    font-weight: 300;
    border-radius: 15px;
    padding-top: .5rem;
    position: relative;
    bottom: .5rem;
}

