.project-page {
    background-color: white;
    
}

/* .project-title {
    color: white;
    margin-left: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.all-projects {
    background-color: white;
} */
