.footer {
    background-color: white;
    /* margin-bottom: 0rem; */
       border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    
}
.footer-main {
   background-color: white;
   padding-top: .5rem;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
}

.footer-name > h1{
    font-size: 1.8rem;
    margin-top: 5rem;
    font-weight: 300;
}

hr {
    height: 9.5rem;
    margin-top: 2rem;
    width: 0rem;
    margin-left: 5rem;
    margin-right: 3rem;
}



/* .footer-main hr {
    border-style: none none dotted ;
    border-width: 1px 0 0;
    height: 80px;
    width: 0;
    border-color:  black;
} */

.pages {
    
}

.pages > ul {
    display: flex;
    flex-direction: column;
    line-height: 2;
    align-content: center;
    justify-content: center;
    list-style: none;
    margin-top: 2.8rem;
    background-color: white;
    margin-right: 1.7rem;
}

.keep-style {
    background-color: white;
}

.contact-footer > ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 2;
     list-style: none;
     margin-top: 2.8rem;
    
}

.linkedin-icon, .github-icon, .email-icon {
   height: 1.7rem;
}

.cp-section {
    background-color: white;
}

.sub-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.sub-footer > hr {
    width: 90%;
    height: 1px;
    margin-bottom: 1.5rem;
    
}

.sub-footer > span {
    margin-bottom: 1.5rem;
}

/* hr {
       width: 10%;
    border-style: dotted none none;
    border-width: 7px;
    border-color: red;
} */

@media ((max-width: 750px)) {
    .footer-main {
        flex-direction: column;
        align-items: center;
        justify-content: center;
     padding-top: 0rem;
    }

    .footer-name > h1{
        margin-top: 2rem;
    }

    .pages > ul > li {
   
    }

    hr {
        width: 90%;
        height: 1px;
        color: grey;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 0rem;
        margin-bottom: 0rem;
     
    }

    .pages > ul {
        margin-top: 1rem;
    }

    .contact-footer > ul {
        flex-direction: row;
        gap: 1rem;

    }
}   

